<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>I'm {{ .Site.Params.Author }}, a database developer interested in Continuous Delivery, functional programming, and cricket.</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item {{ if eq .URL "/" }} active {{ end }}" href="/">Home</a>
    <a class="sidebar-nav-item {{ if eq .URL "/post/" }} active {{ end }}" href="/post">Posts</a>

    {{ $thisperma := .Permalink }}
    {{ range .Site.Pages.ByWeight }}
      {{ if isset .Params "sidebar" }}
        <a class="sidebar-nav-item {{ if eq .Permalink $thisperma }} active {{ end }}" href="{{ .Permalink }}">{{ .Title }}</a>
      {{ end }}
    {{ end }}
    <a class="sidebar-nav-item {{ if eq .URL "/index.xml" }} active {{ end }}" href="/index.xml">RSS</a>
    <!--<a class="sidebar-nav-item" href="{{ .Site.Params.Github.Url }}/archive/{{ .Site.Params.Github.Head }}.zip">Download</a>
    <a class="sidebar-nav-item" href="{{ .Site.Params.Github.Url }}">GitHub project</a>
    <span class="sidebar-nav-item">Currently on {{ .Site.Params.Github.Head }}</span>-->

  </nav>
  <!--<div class="sidebar-item">
    <a href="http://stackoverflow.com/users/1100346/gavin-campbell">
    <img src="http://stackoverflow.com/users/flair/1100346.png" width="208" height="58" alt="profile for Gavin Campbell at Stack Overflow, Q&amp;A for professional and enthusiast programmers" title="profile for Gavin Campbell at Stack Overflow, Q&amp;A for professional and enthusiast programmers">
    </a>
  </div>-->
  <div class = "sidebar-item">
  <p> <a href = "https://travis-ci.org/arapaima-uk/source.arapaima-uk.github.io">
      <img src = "https://travis-ci.org/arapaima-uk/source.arapaima-uk.github.io.svg?branch=master" alt = "Travis CI Build Status" title = "Travis CI Build Status">
      </a>
    </p>
  </div>
  <div class="sidebar-item">
    <p><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">Content on arapaima.uk</span> by <a xmlns:cc="http://creativecommons.org/ns#" href="http://arapaima.uk" property="cc:attributionName" rel="cc:attributionURL">Gavin Campbell, Arapaima Ltd</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</p>
  </div>
</div>
